@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font: 12pt 'Times New Roman', sans-serif;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    background: #e6f2ff url(https://source.unsplash.com/uXtq8xGUX5U) center center/cover no-repeat;
}

h2 {
    padding-top: 30px;
}